@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital@1&display=swap');

$fontSansSerif: 'Lato', sans-serif;
$fontHeaders: $fontSansSerif;
$fontCursive: 'Playfair Display', serif;

body {
  font-family: $fontSansSerif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontCursive;
  font-style: italic;
}