%ul-override {
  list-style: none;
  counter-reset: ul-list;

  li {
    position: relative;
    counter-increment: ol-list;
    padding-left: 20px;
    margin: 12px 0;

    &:before {
      position: absolute;
      top: -1px;
      left: 0;
      content: "• ";
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      color: $primary;
    }
  }
}

%ol-override {
  list-style: none;
  counter-reset: ol-list;

  li {
    position: relative;
    counter-increment: ol-list;
    padding-left: 20px;
    margin: 12px 0;

    &:before {
      position: absolute;
      left: 0;
      content: counter(ol-list) ".";
      font-weight: bold;
      color: $primary;
    }
  }
}

@function remCalc($size) {
  $remSize: calc($size / 16px);
  @return #{$remSize}rem;
}