@import 'vendor/bootstrap';
@import 'vendor/flickity';
@import 'fonts';
@import 'variables';
@import 'mixins';

:focus {
  outline: remCalc(1px) solid $primary;
}

a,
a:visited {
  font-weight: bold;
  color: $accent;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $accent;
    text-decoration: none;
  }
}

.highlight {
  background: rgba($accent, 0.8);
  display: inline-block;
  padding: 0 remCalc(6px);
  color: #000;
}

.btn,
.btn:visited {
  font-weight: normal;
  color: $dark-neutral;
  border: remCalc(1px) solid $dark-neutral;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent;
  }
}

img, figure {
  max-width: 100%;
  height: auto;
}

#content {
  scroll-margin-top: remCalc(100px);
  padding-top: remCalc(60px);

  section {
    margin-bottom: remCalc(60px);
  }

  header.section-title {
    text-align: center;
    margin-bottom: remCalc(25px);
    h2 {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .content-block {
    &.content-block--main {
      .wysiwyg-content {
        max-width: remCalc(900px);
        margin: 0 auto;
      }
    }
  }

  .column-sidebar {
    a,
    a:visited {
      color: $primary;
  
      &:hover,
      &:focus {
        color: $primary;
      }
    }
    ul {
      @extend %ul-override;
    }
    
    ol {
      @extend %ol-override;
    }
  }
}

@import 'global/footer';
@import 'global/forms';
@import 'global/header';
@import 'global/masthead';
@import 'global/wysiwyg';

@import 'partials/article-card';
@import 'partials/comments';
@import 'partials/modules';
@import 'partials/pagination';
@import 'partials/sidebar';
@import 'partials/social';

@import 'pages/blog';
@import 'pages/portfolio';