@import 'vendor/bootstrap';
@import 'fonts';
@import 'variables';

:focus {
  outline: 1px solid $blue;
}

.highlight {
  background: rgba($highlight, 0.8);
  display: inline-block;
  padding: 0 5px;
  color: #000;
}

.btn {
  border: 1px solid $dark-gray;

  &:hover,
  &:focus {
    background-color: $highlight;
  }
}

#content {
  .container {
    background-color: $off-white;
    padding: 45px 20px;
  }
}

@import 'global/header';
@import 'global/masthead';
@import 'global/footer';
@import 'global/wysiwyg';