/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .mainmenu li a { padding: 30px 10px }
	.is-sticky .mainmenu li a { padding: 20px 10px }
	.about-img { margin-bottom: 25px }
	.about-single-project{ margin-top: 50px }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	.navbar-default { padding: 5px 0 }
	.navbar-brand {
		padding: 0;
		color: #fff !important;
	}
	.navbar-brand > img { margin: 5px 0; }
	.navbar-brand h1 { padding: 18px 0; margin-left: 15px }
	.navbar-toggle { margin-top: 12px }
	.navbar-collapse { background: #fff none repeat scroll 0 0 }
	.is-sticky .navbar-brand { padding: 0 }
	.mainmenu li a,
	.is-sticky .mainmenu ul.nav.navbar-nav li  a {
		color: #666 !important;
		font-size: 12px;
		padding: 15px;
	}
	.mainmenu ul li { position: static; }
	.mainmenu ul li ul {
		width: 100%;
		margin: 0 0 0 20px;
		list-style: none;
		position: static;
		box-shadow: none ;
		opacity: 1;
		visibility: visible;
	}
	.mainmenu ul li ul li a, 
	.is-sticky .mainmenu ul li ul li a {
		display: block ;
		margin: 0;
	}
	.mainmenu ul li ul li:hover > a,
	.mainmenu ul li ul li.current_page_item > a,
	.mainmenu ul li ul li.current-page-ancestor > a {
	    background-color: transparent !important;
	}
	.mainmenu ul.sub-menu li a { color: #666 !important; }
	.mainmenu ul.nav.navbar-nav li a:hover { color: #333 !important; }
	.section-title h2 { font-size: 28px }
	.section-title p { font-size: 13px }
	.profi-slide-item h2 { font-size: 52px }
	.profi-slide-item p {
		font-size: 18px;
		padding: 5px 15px;
	}
	.about-img { margin-bottom: 15px }
	.about_area a.button { margin-right: 5px }
	.button { padding: 10px }
	.single-service {
	    margin-left: 15px;
	    margin-right: 15px;
	}
	.portfolio-filter ul li {
		font-size: 10px;
		margin: 0 5px;
		padding: 10px;
	}
	.single-work { margin-top: 15px }
	.work-title > h5 { font-size: 14px }
	.work-title > p { font-size: 12px }
	.work-icon a { font-size: 16px }
	.copyright p { font-size: 12px }
	.about-single-project{ margin-top: 50px }

	.navigation.posts-navigation .nav-links a, .navigation.post-navigation .nav-links a { margin: 0 5px }
	.comment-list > li ol.children { padding-left: 15px }
	.comment-respond { margin-bottom: 30px }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
}













