.DS_Store

/db

/docker-compose.yml

.env
/project/uploads/*
!/project/uploads/.gitkeep

/project/plugins/hello.php

/project/themes/*
!/project/themes/beth-chernes
!/project/themes/beth-gutenberg

/project/themes/beth-chernes/node_modules