body.blog,
body.search,
body.tag,
body.category,
body.archive,
body.single-post {
  .meta {
    color: $dark-gray;

    .meta__group {
      a {
        &:after {
          content: ', ';
        }

        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }

    .meta__date,
    .meta__group-tags,
    .meta__group-categories {
      font-size: remCalc(14px);
      
      svg {
        margin-right: remCalc(5px);
      }

      a {
        color: $dark-gray;
        font-weight: normal;
      }
    }
  }
}

body.blog,
body.search,
body.tag,
body.category,
body.archive {
  .column-main {
    article {
      margin-bottom: remCalc(60px);

      img {
        margin-bottom: remCalc(15px);
      }

      footer {
        margin-top: remCalc(15px);
        align-self: flex-end;

        a {
          @extend .btn;
        }
      }
    }
  } 
}

body.single-post {
  .column-main {
    header {
      border-bottom: 2px solid $light-gray;
      padding-bottom: remCalc(10px);
      margin-bottom: remCalc(20px);

      img {
        margin-bottom: remCalc(10px);
      }
    }

    footer.meta {
      border-top: 2px solid $light-gray;
      padding-top: remCalc(10px);
      margin-top: remCalc(20px);
    }
  }
}