.module-block {

  &.module--text {
    .wysiwyg-content {
      max-width: remCalc(900px);
      margin: 0 auto;
    }
  }

  &.module--columns {

    .column--card {
      width: 100%;
      text-align: center;
      margin-bottom: remCalc(30px);
      transition: background-color .2s, color .2s;

      header {
        a {
          border-radius: 50%;
          width: remCalc(200px);
          height: remCalc(200px);
          margin: 0 auto remCalc(30px); 
          background-color: $accent;
          color: $primary;
          
          svg {
            width: 65%;
            height: 65%;
          }
        }
      }

      .column-details {
        flex-basis: 100%;
      }

      footer {
        justify-self: flex-end;
      }

      &:hover {
        header {
          a {
            background-color: $primary;
            color: $accent;
          }
        }
      }
    }
  }

  &.module--cta {
    background-color: $accent;
    text-align: center;
    color: $primary;
    padding: remCalc(60px) 0;
    font-size: remCalc(30px);

    .container {

      .cta--content {
        flex-basis: 40%;
      }

      .cta--button {
        .btn {
          font-size: remCalc(25px);
          background-color: $off-white;
          color: $primary;

          &:focus,
          &:hover {
            background-color: $primary;
            color: $off-white;
          }
        }
      }

      @media (min-width: 925px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  &.module--testimonials {
    
    .testimonial-list {
    
      .testimonial {
        width: 100%; /* full width */
        min-height: remCalc(100px);

        .testimonial__details {
          background-color: $off-white;
          padding: remCalc(15px) remCalc(50px);
          text-align: center;
          font-size: remCalc(20px);
          margin: remCalc(20px) auto;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          max-width: 85%;

          .testimonial__photo {
            max-width: remCalc(140px);
            border: remCalc(5px) solid rgba($accent, 0.8);
            border-radius: 50%;
            margin-bottom: remCalc(20px);
          }

          .testimonial__quote {
            font-style: italic;
          }

          .testimonial__author {
            font-size: remCalc(16px);

            cite {
              font-weight: bold;
              font-style: normal;
              font-size: remCalc(24px);
            }

            .testimonial__author-title {
              color: $dark-neutral;
            }
          }

          @media (min-width: 960px) {
            max-width: 75%;
          }
        }
      }

      &.flickity-enabled {
        .flickity-button {
          color: $accent;
        }

        .flickity-page-dots {
          .dot {
            background-color: $secondary;
          }
        }

        .testimonial {
          .testimonial__details {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}