.module-block {

  &.module--testimonials {
    
    .testimonial-list {
    
      .testimonial {
        width: 100%; /* full width */
        min-height: remCalc(100px);

        .testimonial__details {
          background-color: $off-white;
          padding: remCalc(15px) remCalc(50px);
          text-align: center;
          font-size: remCalc(20px);
          margin: remCalc(20px) auto;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          max-width: 85%;

          .testimonial__photo {
            max-width: remCalc(140px);
            border: remCalc(5px) solid rgba($highlight, 0.8);
            border-radius: 50%;
            margin-bottom: remCalc(20px);
          }

          .testimonial__quote {
            font-style: italic;
          }

          .testimonial__author {
            font-size: remCalc(16px);

            cite {
              font-weight: bold;
              font-style: normal;
              font-size: remCalc(24px);
            }

            .testimonial__author-title {
              color: $dark-gray;
            }
          }

          @media (min-width: 960px) {
            max-width: 75%;
          }
        }
      }

      &.flickity-enabled {
        .flickity-button {
          color: $highlight;
        }

        .flickity-page-dots {
          .dot {
            background-color: $accent;
          }
        }

        .testimonial {
          .testimonial__details {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}