.social-links {
  font-size: remCalc(30px);
  margin: remCalc(20px) 0;
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: remCalc(50px);
    height: remCalc(50px);

    &:hover,
    &:focus {
      color: $white;
      border-radius: remCalc(5px);
      background-color: $secondary;
    }
  }
}