.layout-footer {
  background-color: $dark-neutral;
  color: $white;
  text-align: center;
  padding: remCalc(30px) 0 remCalc(25px);

  nav.footer {
    a,
    a:visited {
      font-weight: normal;
      color: $white;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $accent;
        text-decoration: none;
      }
    }

    ul {
      flex-direction: column;
      justify-content: center;
      
      li {
        margin-bottom: remCalc(5px);
      }

      @media (min-width: 764px) {
        flex-direction: row;

        li {
          border-right: 2px solid $neutral;

          padding-right: remCalc(10px);
          margin-left: remCalc(10px);

          &:last-child {
            border-right: none;
            padding-right: 0;
          }
        }
      }
    }
  }
}