.wpcf7 {
  form.wpcf7-form {
    .wpcf7-not-valid-tip {
      color: $burgundy;
    }

    .wpcf7-response-output {
      border-color: $highlight;
    }
    
    &.invalid {
      .wpcf7-response-output {
        border-color: $burgundy;
      }
    }
  
    .wpcf7-submit {
      @extend .btn;
    }

    .ajax-loader {
      display: none;

      &.is-active {
        display: inline-block;
      }
    }
  }
}

form {
  input,
  select,
  textarea {
    border: 1px solid $black;
    border-radius: 0.25rem;
  }
  input[type=submit],
  button {
    @extend .btn;
  }
}