.wpcf7 {
  form.wpcf7-form {
    .wpcf7-not-valid-tip {
      color: $secondary;
    }

    .wpcf7-response-output {
      border-color: $accent;
    }
    
    &.invalid {
      .wpcf7-response-output {
        border-color: $secondary;
      }
    }
  
    .wpcf7-submit {
      @extend .btn;
    }

    .ajax-loader {
      display: none;

      &.is-active {
        display: inline-block;
      }
    }
  }
}

form {
  input,
  select,
  textarea {
    border: 1px solid $black;
    border-radius: 0.25rem;
  }

  label {
    sup {
      color: $secondary;
      font-weight: bold;
      font-size: 100%;
      position: revert;
      padding-left: remCalc(3px);
    }
  }

  input[type=submit],
  button {
    @extend .btn;
  }
}