.layout-header {
  background-color: $white;
  box-shadow: 0 4px 4px 0 $gray;

  .navbar-brand {
    max-width: 75%;
    @media (min-width: 768px) {
      max-width: 40%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .navbar-toggler {
    svg {
      color: $dark-gray;
    }
  }

  #nav-toggle-status {
    display: none;
    -webkit-appearance: none;

    &:checked {
      & ~ .navbar-collapse {
        display: block;
      }
    }
  }

  .navbar-nav {
    margin-top: 30px;

    .nav-link {
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border-top: 1px solid $light-gray;
      font-weight: bold;

      color: $dark-gray;

      &:hover,
      &:focus {
        background-color: rgba($accent, 0.1);
        color: $accent;
      }
    }

    @media (min-width: 992px) {
      margin-top: 0;
      .nav-link {
        border-top: none;
      }
    }
  }
}