.layout-header {
  background-color: $white;
  box-shadow: 0 4px 4px 0 $gray;

  .navbar-brand {
    max-width: 75%;
    @media (min-width: 768px) {
      max-width: 40%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .navbar-toggler {
    svg {
      color: $dark-gray;
    }
  }

  .navbar-nav {
    margin-top: 30px;

    .nav-link {
      text-align: center;
      text-transform: uppercase;
      border-top: 1px solid $light-gray;
      font-weight: bold;

      color: $dark-gray;

      &:hover {
        color: $blue;
      }
    }

    @media (min-width: 992px) {
      margin-top: 0;
      .nav-link {
        border-top: none;
        background-color: none;
      }
    }
  }
}