.layout-header {
  background-color: $white;
  box-shadow: 0 4px 4px 0 $neutral;

  .navbar-brand {
    max-width: 65%;
    @media (min-width: 768px) {
      max-width: 40%;
    }
  }

  .navbar-toggler {
    svg {
      color: $dark-neutral;
    }
  }

  #nav-toggle-status {
    display: none;
    -webkit-appearance: none;

    &:checked {
      & ~ .navbar-collapse {
        display: block;
      }
    }
  }

  .navbar-nav {
    margin-top: 30px;

    .nav-link {
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border-top: 1px solid $light-neutral;
      font-weight: bold;

      color: $dark-neutral;

      &:hover,
      &:focus {
        background-color: rgba($secondary, 0.1);
        color: $secondary;
      }
    }

    .dropdown-menu {
      border: none;
      margin-top: 0;
      padding: 0;
    }

    @media (min-width: 992px) {
      margin-top: 0;
      .nav-link {
        border-top: none;
      }

      .dropdown-menu {
        margin-left: -1px;

        .sub-nav-item {
          .nav-link {
            border-top: 1px solid $light-neutral;
            border-right: 1px solid $light-neutral;
            border-left: 1px solid $light-neutral;
            text-align: left;
            min-width: 15rem;

            &:hover,
            &:focus {
              border-top-color: $secondary;
              border-right-color: $secondary;
              border-left-color: $secondary;
            }
          }
        }
      }
    }
  }
}