// https://codex.wordpress.org/Styling_Images_in_Posts_and_Pages

.wysiwyg-content {
  .alignright {float:right; margin:0 0 1em 1em}
  .alignleft {float:left; margin:0 1em 1em 0}
  .aligncenter {display: block; margin-left: auto; margin-right: auto}
  a .alignright {float:right; margin:0 0 1em 1em}
  a .alignleft {float:left; margin:0 1em 1em 0}
  a .aligncenter {display: block; margin-left: auto; margin-right: auto}

  .alignright,
  .alignleft {
    max-width: 40%;
  }
  
  .shortcode-icon {
    color: $blue;

    &--red {
      color: $burgundy;
    }

    &--black {
      color: $black;
    }

    &--gray {
      color: $gray;
    }
  }

  ul {
    @extend %ul-override;
  }

  ol {
    @extend %ol-override;
  }

  h2, h3, h4, h5, h6 {
    margin-top: remCalc(30px);
  }
}