<section class="module-block module--blog">
  <div class="container">
    {% include "partials/header.twig" with {
      title: item.module_header,
      subTitle: item.module_subheader
    } %}

    <ul class="row align-items-stretch list-unstyled">
      {% for details in item.displayItems %}
      <li class="d-flex col col-12 col-md-6 col-lg-4 mt-4">
        {% include "partials/content/post.twig" with {
          'showReadMore': true
        } %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>