<section class="module-block">
  <div class="container">
    {% include "partials/header.twig" with {
      title: item.module_header,
      subTitle: item.module_subheader
    } %}

    {{ function('do_shortcode', '[contact-form-7 id="'~item.formID~'"]') }}

  </div>
</section>