<section class="module-block">
  <div class="container">
    {% include "partials/header.twig" with {
      title: item.module_header,
      subTitle: item.module_subheader
    } %}

    {% if item.services.show_latest %}
      {% set columns = [] %}
    {% else %}
      {% set columns = item.services.items %}
    {% endif %}

    {{ dump(columns) }}
    <div class="row align-items-start">
      {% for details in columns %}
      <div class="col">
        <h3>Item {{ details.title }}</h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>