{% extends "layouts/base.twig" %}

{% block page %}
    {% include "partials/masthead.twig" with {
      header: "Blog"
    } %}

    <div id="content" role="main" class="content-wrapper">
      
      <section class="archive-block">
        <div class="container has-sidebar">
          <div class="row">
            <div class="column-main col-md-7 col-lg-8">
              {% for post in posts %}
                {% include 'partials/content/post.twig' with {
                  'details' : post,
                  'imageDimensions' : [ 750, 450 ]
                } %}
              {% endfor %}
            </div>

            {{ sidebar }}
          </div>
        </div>
      </section>

    </div>
{% endblock %}