{% extends "layouts/base.twig" %}

{% block masthead %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="wysiwyg-content">
      {{ post.content }}
    </div>
  {% endfor %}
{% endblock %}