{% extends "layouts/base.twig" %}

{% block page %}
  {% for post in posts %}

    {% include "partials/masthead.twig" with {
      header: post.meta("masthead_title") ?: post.title,
      subheader: post.meta("masthead_subheader"),
      backgroundImage: post.meta("masthead_background")
    } %}

    <main id="content" class="content-wrapper">
      
      {% if post.content %}
        <section class="content-block content-block--main">      
          <div class="container">
              <div class="wysiwyg-content">
                {{ post.content }}
              </div>
          </div>
        </section>
      {% endif %}

      {% include "partials/modules.twig" %}

      </main>

  {% endfor %}

  {% include "partials/content/pagination.twig" %}
{% endblock %}