{% extends "layouts/base.twig" %}

{% block page %}
  {% for post in posts %}

    {% include "partials/masthead.twig" with {
      header: post.meta("masthead_title") ?: post.title,
      subheader: post.meta("masthead_subheader"),
      backgroundImage: post.meta("masthead_background")
    } %}

    <div id="content" role="main" class="content-wrapper">
      
      {% if post.content %}
        <section class="content-block">      
          <div class="container">
              <div class="wysiwyg-content">
                {{ post.content }}
              </div>
          </div>
        </section>
      {% endif %}

      {% include "partials/modules.twig" %}

    </div>

    {% endfor %}
{% endblock %}