{% extends "layouts/base.twig" %}

{% block page %}
    {% include "partials/masthead.twig" with {
      'header': headerTitle
    } %}

    <main id="content" class="content-wrapper">
      
      <section class="archive-block">
        <div class="container">
          <div class="row">
            <div class="column-main col-12">
              {% for details in postsByTerm %}
                {% if details.entries %}
                  <section class="module-block module--portfolio__group">
                    <div class="container">
                      {% include "partials/header.twig" with {
                        title: details.term.name
                      } %}
                  
                      <ul class="row align-items-stretch list-unstyled">
                        {% for entry in details.entries %}
                          <li class="d-flex col col-12 col-md-6 col-lg-4 mt-4">
                            {% include "partials/content/post.twig" with {
                              'details' : entry,
                              'linkTarget' : '_blank',
                              'linkURL' : entry.get_field('portfolio_url'),
                            } %}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </section>
                {% endif %}
              {% endfor %}
            </div>

            {{ sidebar }}
          </div>
        </div>
      </section>

    </main>
{% endblock %}