{% extends "layouts/base.twig" %}

{% block page %}
    {% include "partials/masthead.twig" with {
      'header': headerTitle
    } %}

    <main id="content" class="content-wrapper">
      
      <section class="archive-block">
        <div class="container">
          <div class="row">
            <div class="column-main col-12">
              {% for details in postsByTerm %}
                <section>
                  <h2>{{ details.term.name }}</h2>
                  <div class="portfolio-entries">
                    {% if details.entries %}
                      {% for entry in details.entries %}
                        {% include 'partials/content/post.twig' with {
                          'details' : entry,
                        } %}
                      {% endfor %}
                    {% else %}
                      <p class="no-results">No Portfolio Entries found for this Term.</p>
                    {% endif %}
                  </div>
                </section>
              {% endfor %}
            </div>

            {{ sidebar }}
          </div>
        </div>
      </section>

    </main>
{% endblock %}